@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lzpo25');
  src:  url('fonts/icomoon.eot?lzpo25#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lzpo25') format('truetype'),
    url('fonts/icomoon.woff?lzpo25') format('woff'),
    url('fonts/icomoon.svg?lzpo25#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e90d";
}
.icon-chevron-right:before {
  content: "\e914";
}
.icon-clock1:before {
  content: "\e911";
}
.icon-more-vertical:before {
  content: "\e915";
}
.icon-pause-circle:before {
  content: "\e917";
}
.icon-play:before {
  content: "\e910";
}
.icon-play-circle:before {
  content: "\e916";
}
.icon-envelope:before {
  content: "\e905";
}
.icon-menu1:before {
  content: "\e901";
}
.icon-play-circle-o:before {
  content: "\f01d";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-arrow-circle-down:before {
  content: "\f0ab";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-alarmclock:before {
  content: "\e90c";
}
.icon-clock:before {
  content: "\e90c";
}
.icon-search2:before {
  content: "\e902";
}
.icon-cloud:before {
  content: "\e908";
}
.icon-t-shirt:before {
  content: "\e90e";
}
.icon-game-controller:before {
  content: "\e909";
}
.icon-light-bulb:before {
  content: "\e906";
}
.icon-radio:before {
  content: "\e90a";
}
.icon-cart:before {
  content: "\e907";
}
.icon-contrast:before {
  content: "\e900";
}
.icon-cog:before {
  content: "\e903";
}
.icon-switch:before {
  content: "\e904";
}
.icon-plus:before {
  content: "\e912";
}
.icon-alarm1:before {
  content: "\e90b";
}
.icon-list:before {
  content: "\e913";
}
.icon-home:before {
  content: "\e90f";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-users:before {
  content: "\e972";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-ticket:before {
  content: "\e939";
}
.icon-location:before {
  content: "\e947";
}
.icon-alarm:before {
  content: "\e950";
}
